<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
  </head>
  <body>

    {{ partial "header.html" . }}

    <main>
        
      <h1>{{ .Title }}</h1>

      {{ .Content }}

      {{ if isset .Params "synonyms"}}
        <h2>Synonyms</h2>
        <li>
        <ul>{{ delimit .Params.synonyms ", " ", and " }}</ul>
        </li>
      {{ end }}

    </main>

    {{ partial "footer.html" . }}

  </body>
</html>