<!-- <footer>MIT License - <a href="https://github.com/do-community/developer-glossary">Contribute on GitHub</a></footer> -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">MIT License - <a href="https://github.com/do-community/developer-glossary" target="_blank" class="btn btn-outline-primary btn-rounded">Contribute on GitHub</a></h5>
        </li>
      </ul>
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
