<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
  </head>
  <body>
    {{ partial "partials/header.html" . }}

    <main>

      {{ .Content }}

      {{ $letter := "A" }}

      {{ range $index, $page := where .Site.RegularPages "Section" "==" "terms" }}

        {{ if or (eq $index 0) (ne $letter (substr .Title 0 1)) }}
          {{ $letter := (substr .Title 0 1) }}
          <h2>{{ $letter }}</h2>
          <hr>
        {{ end }}
        <div class="term">
          <h3>
            <a href="{{.Permalink}}">
              {{ .Title }}
            </a>
          </h3>

          <div class="definition">
            {{ .Content }}
          </div>
        </div>
      {{ end }}
        
      </main>

      {{ partial "partials/footer.html" . }}

  </body>
</html>