header {
  text-align: center;
}

body {
  background-color: #072540;
  color: #ffffff;
}

main {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.term {
  margin-top: 4em;
}

.character-section {
  margin-top: 8em;
}

p {
  margin-bottom: 2em;
}

h2,
.h2 {
  color: #93c2db;
}

h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin-bottom: 1em;
}

h4,
.h4 {
  color: #93c2db;
}

a {
  color: #ff8ae2;
  text-decoration: underline;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  border-color: #ffffff;
}

.toggle {
  margin: auto;
  padding: 0.5em 0.7em;
  background-color: #ffffff;
  color: #031b4e;
  border-radius: 25px;
}

.light {
  background-color: #ffffff;
  color: #031b4e;
}

.a-light {
  color: #9c4668;
}

.h2-light {
  color: #5b6987;
}

.hr-light {
  border-color: #5b6987;
}

.toggle-light {
  color: #ffffff;
  background-color: #072540;
}

.definition {
  padding-left: 0;
}

.definition > ul {
  padding-left: 1.5em;
}

.definition > ul > li {
  padding-left: 0.25em;
}

b,
strong {
  font-weight: bolder;
  font-size: 1.05em;
}

.hightlight {
  width: 100%;
}

pre {
  background: inherit;
}

.light pre {
  background: black;
}
